# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [68]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
# from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [52]:
file = "output_data_cities.csv"

In [53]:
#Read csv file
df = pd.read_csv(file)
df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [54]:
df['City'].nunique()
clean_df=df.drop_duplicates(subset = ['City'],keep = 'first')
clean_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [55]:
clean_df.columns

Index(['City_ID', 'City', 'Cloudiness', 'Country', 'Date', 'Humidity', 'Lat',
       'Lng', 'Max Temp', 'Wind Speed'],
      dtype='object')

In [56]:
clean_df.columns = ['city_id', 'city', 'cloudiness', 'country',
                    'date', 'humidity', 'lat', 'lng', 'max_temp',
                    'wind_speed']
clean_df

,city_id,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [57]:
import gmaps
import gmaps.datasets
api_key='AIzaSyA5oZu4eK2KiNGypv1oaBaKPanlpulXniI'

In [58]:
gmaps.configure(api_key='AIzaSyA5oZu4eK2KiNGypv1oaBaKPanlpulXniI')

fig = gmaps.figure()
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
locations = clean_df[['lat','lng']]
weights = clean_df['humidity']
gmaps.configure(api_key)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = weights, dissipating = False, max_intensity=30,point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [63]:
go_city = clean_df.loc[(clean_df.max_temp < 100) & (clean_df.max_temp > 90)
                       & (clean_df.cloudiness < 25)
                      & (clean_df.humidity < 77)
                      & (clean_df.wind_speed < 10)]
go_city

,city_id,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
306,306,chunhuhub,5,MX,1558378846,35,19.59,-88.59,96.72,7.02
487,487,pinotepa de don luis,21,MX,1558378888,37,16.43,-97.98,95.10,7.47
510,510,atar,1,MR,1558378892,12,20.52,-13.05,95.00,9.17

In [64]:
go_city.shape

(4, 10)

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [65]:
hotel_df = []
go_city['hotel name'] = ""
target_type = 'lodging'
radius = 5000
de_don_luis = "19.59,-88.59"

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for row in go_city:
    city_area = list(zip(go_city.lat,go_city.lng))
city_area

<ipython-input-65-bf6592cfc4e3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  go_city['hotel name'] = ""

[(27.13, 81.7), (19.59, -88.59), (16.43, -97.98), (20.52, -13.05)]

In [98]:
  
location = "19.59,-88.59"
types = target_type
radius = 5000
key = api_key

params = {
        "location": location,
        "types": target_type,
        "radius": radius,
        "key": api_key
        }
response = requests.get(base_url, params)
hotel = response.json()
print(json.dumps(hotel, indent=2, sort_keys=True))

{
  "html_attributions": [],
  "results": [
    {
      "business_status": "OPERATIONAL",
      "geometry": {
        "location": {
          "lat": 19.591414,
          "lng": -88.5910547
        },
        "viewport": {
          "northeast": {
            "lat": 19.5927022802915,
            "lng": -88.58972631970849
          },
          "southwest": {
            "lat": 19.5900043197085,
            "lng": -88.5924242802915
          }
        }
      },
      "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
      "name": "Hotelito Noe",
      "photos": [
        {
          "height": 2272,
          "html_attributions": [
            "<a href=\"https://maps.google.com/maps/contrib/112422137598388358616\">Jordy Tun</a>"
          ],
          "photo_reference": "ATtYBwLOM9Nq3fFehGBj-rsZlVMoGLd41w4yFzts1OkoKvutEzpaJvjWPMrNsxZ_5T2kzLSCQutL9_8seek259PxueFJ6x9nyx1SlCz03B1j_waTos71FdmWVFbNVYyLD47bQaBhbQL7tjkremIS0vjsi-6LWO_mJRmkphaDCgqhcvDYc6g3",
          "width": 4608
        }
      ],
      "place_id": "ChIJE2C_jPqnUI8RVptpB8vufAY",
      "plus_code": {
        "compound_code": "HCR5+HH Chunhuhub, Quintana Roo, Mexico",
        "global_code": "76FHHCR5+HH"
      },
      "rating": 3.6,
      "reference": "ChIJE2C_jPqnUI8RVptpB8vufAY",
      "scope": "GOOGLE",
      "types": [
        "lodging",
        "point_of_interest",
        "establishment"
      ],
      "user_ratings_total": 7,
      "vicinity": "Unnamed Road, Diana Laura, Chunhuhub"
    },
    {
      "business_status": "OPERATIONAL",
      "geometry": {
        "location": {
          "lat": 19.5857227,
          "lng": -88.59179259999999
        },
        "viewport": {
          "northeast": {
            "lat": 19.5872435302915,
            "lng": -88.5909651
          },
          "southwest": {
            "lat": 19.5845455697085,
            "lng": -88.59427509999999
          }
        }
      },
      "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
      "name": "Casa do\u00f1a Fatima garcia",
      "place_id": "ChIJp7pOAvqnUI8RqUpdgOuocj0",
      "plus_code": {
        "compound_code": "HCP5+77 Chunhuhub, Quintana Roo, Mexico",
        "global_code": "76FHHCP5+77"
      },
      "reference": "ChIJp7pOAvqnUI8RqUpdgOuocj0",
      "scope": "GOOGLE",
      "types": [
        "lodging",
        "point_of_interest",
        "establishment"
      ],
      "vicinity": "Pedro Antonio Santos - Chunhuhub 30, Juan Bautista Vega, Chunhuhub"
    },
    {
      "business_status": "OPERATIONAL",
      "geometry": {
        "location": {
          "lat": 19.5839183,
          "lng": -88.59263759999999
        },
        "viewport": {
          "northeast": {
            "lat": 19.5852221802915,
            "lng": -88.5912971697085
          },
          "southwest": {
            "lat": 19.5825242197085,
            "lng": -88.5939951302915
          }
        }
      },
      "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
      "name": "Hotel HC",
      "photos": [
        {
          "height": 3456,
          "html_attributions": [
            "<a href=\"https://maps.google.com/maps/contrib/106432630488569899940\">Ulises Hau canul</a>"
          ],
          "photo_reference": "ATtYBwLTz3efRp6RVHHhGdH1LegtZaWTsOLev-MZv6TFTCsk6ibgIyMdfpY7P9HlUw37QMnj8AERP_aXZxnveut_SsNqBPAYcgGkwVk6_tmnvyVCrrL4cumFn_QqPAhouso7cgkmYtx4wWEQoyq4WGq_SWX8LKiRKzaenLXMd1isavYxXtUM",
          "width": 4608
        }
      ],
      "place_id": "ChIJ_3wEVXSnUI8RrrA7dk-Ygyg",
      "plus_code": {
        "compound_code": "HCM4+HW Chunhuhub, Quintana Roo, Mexico",
        "global_code": "76FHHCM4+HW"
      },
      "rating": 4.2,
      "reference": "ChIJ_3wEVXSnUI8RrrA7dk-Ygyg",
      "scope": "GOOGLE",
      "types": [
        "lodging",
        "point_of_interest",
        "establishment"
      ],
      "user_ratings_total": 68,
      "vicinity": "Colosio, Chunhuhub"
    },
    {
      "business_status": "OPERATIONAL",
      "geometry": {
        "location": {
          "lat": 19.5637828,
          "lng": -88.59172079999999
        },
        "viewport": {
          "northeast": {
            "lat": 19.5650225802915,
            "lng": -88.59064501970849
          },
          "southwest": {
            "lat": 19.5623246197085,
            "lng": -88.5933429802915
          }
        }
      },
      "icon": "https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png",
      "name": "Centre ecotourisme Kiichpam K\u2019aax",
      "photos": [
        {
          "height": 3072,
          "html_attributions": [
            "<a href=\"https://maps.google.com/maps/contrib/113127247596854506226\">Selva Bonita</a>"
          ],
          "photo_reference": "ATtYBwIfUpyOdZewKobaLi2pTGZMqbQo0cH9mYECETHODdDa5HAt52sxG0mJNvWxrfFKLYH4s1bNrg9Ydu0bks0htAqCPI4y2ubLN7VjnAQ-0E01mVz2_yytvp4kcZ8PDGt4WEYjjUyX9gF9AA9j3NqsUSgrBh8E67-1LDMdWwzknvEre6jj",
          "width": 4608
        }
      ],
      "place_id": "ChIJBfdpMaynUI8R8ZqaacKMmbs",
      "plus_code": {
        "compound_code": "HC75+G8 Chunhuhub, Quintana Roo, Mexico",
        "global_code": "76FHHC75+G8"
      },
      "rating": 4.5,
      "reference": "ChIJBfdpMaynUI8R8ZqaacKMmbs",
      "scope": "GOOGLE",
      "types": [
        "lodging",
        "point_of_interest",
        "establishment"
      ],
      "user_ratings_total": 4,
      "vicinity": "Carretera Federal 293, Chunhuhub"
    }
  ],
  "status": "OK"
}

In [ ]:
# # NOTE: Do not change any of the code in this cell

# # Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure